== Slim::Template.new('./src/BF/var/var.slim').render
/ - puts $date
doctype transitional
html
  head
    title == $objso["title"]["bf"]
    meta content="text/html;charset=UTF-8" http-equiv="Content-Type"
    link rel="stylesheet" href="css/addStyles.css"
    /   @show addStyles.scss
    / link rel="stylesheet" href="scss/addStyles.scss"/
  body bgcolor="#ffffff" link="#333333" vlink="#666666"
    table align="center" border="0" cellpadding="0" cellspacing="0" width="680"
      // header-doc
      tr
        td.header align="center"
          font
            | La collection du mois #{$month[$month_num]} est arrivée ! Découvrez la vite et recevez votre cadeau gratuit !
            br
            font
              | Si la page ne s'affiche pas correctement consultez la 
              a href="#{$objso["link"]["miror"]["0"]}#{$date}/BEFR/index.htm" target="_blank"
                strong version en ligne
      / content
      tr
        td
          table.t-center align="center" border="0" cellpadding="0" cellspacing="0" width="680"
            // header-news
            tr
              td height="124" width="680"
                table border="0" cellpadding="0" cellspacing="0"
                  tr
                    td
                      a href==($url+$idx+$mediumSrc+$utmContent+"HP"+$campaign) target="_blank"
                        img alt==($logo_alt) border="0" height="146" width="306" src==(($abspath == true ? $srcAbs : $srcRel)+"insert_logo.png") style="font-family: Georgia, Times, serif; font-size: 26px; text-align: left; color: #333333; text-transform: uppercase; "
                    td
                      a href==($url+$idx+$mediumSrc+$utmContent+"HP"+$campaign) target="_blank"
                        img alt==($cat_alt) border="0" height="146" width="374" src==(($abspath == true ? $srcAbs : $srcRel)+"insert_cat.png") style="font-family: Georgia, Times, serif; font-size: 18px; text-align: right; color: #B21F1F; "
            // gift normal mode
            - if $objso["layout"]["normal"]
              == Slim::Template.new('./src/BF/partial/_gift_csoa-cmc.slim').render
            - else
              == Slim::Template.new('./src/BF/partial/_gift_csoa-cmcX2.slim').render

            / banner if exist
            - if $objso["banner"]["is"] == true
              tr
                td align="center" width="680"
                  == Slim::Template.new('./src/BF/partial/_banner.slim').render
      / footer
      tr
        td align="center" width="700"
          table border="0" cellpadding="0" cellspacing="0"
            tr
              td colspan="2" height="43" width="700"
                img alt==($foo_alt[0]) border="0" height="43" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_01.png") width="700"
            tr
              td colspan="2" height="25" width="700"
                table border="0" cellpadding="0" cellspacing="0" width="700"
                  tr
                    td
                      img alt==($foo_alt[1]) border="0" height="25" width="512" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_02.png")
                    td align="center" height="25" width="71" style="vertical-align: middle; " valign="middle"
                      font style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #333333; text-transform: uppercase; "
                        == $objso["gift"]["code"]
                    td
                      img alt="" border="0" height="25" width="117" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_04.png")
            tr
              td height="112" width="350"
                a href==($url+$idx+$mediumSrc+$utmContent+"HP"+$campaign) target="_blank"
                  img alt==($foo_alt[2]) border="0" height="112" width="350" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_05.png")
              td height="112" width="350"
                img alt==($foo_alt[3]) border="0" height="112" width="350" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_06.png")
            tr
              td colspan="2" height="56" width="700"
                table border="0" cellpadding="0" cellspacing="0" width="700"
                  tr
                    td
                      a href==($url+$ha_conf[0]+$mediumSrc+$utmContent+"garantie"+$campaign) target="_blank"
                        img.ta-c alt==($foo_alt[4]) border="0" height="56" width="178" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_07.png")
                    td
                      a href==($url+$ha_conf[1]+$mediumSrc+$utmContent+"livraison"+$campaign) target="_blank"
                        img.ta-c alt==($foo_alt[5]) border="0" height="56" width="172" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_08.png")
                    td
                      a href==($url+$ha_conf[2]+$mediumSrc+$utmContent+"paiement"+$campaign) target="_blank"
                        img.ta-c alt==($foo_alt[6]) border="0" height="56" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_09.png") style="display:block;" width="172"
                    td
                      a href==($url+$ha_conf[0]+$mediumSrc+$utmContent+"garanties"+$campaign) target="_blank"
                        img.ta-c alt==($foo_alt[7]) border="0" height="56" width="178" src==(($abspath == true ? $srcAbs : $srcRel)+"foo_10.png")
      / legal
      tr
        td style="padding-top: 5px; padding-bottom: 20px;"
          p align="left" style="line-height: 140%; font-family: Verdana, Geneva, sans-serif; font-size: 11px; color: #555555; margin: 0;"
            | * Votre cadeau vous est offert gratuitement, en fonction des stocks disponibles. En cas de rupture de stocks, IDEAL&nbsp;PRATIQUE se réserve le droit de remplacer votre cadeau par un article de valeur équivalente ou supérieure.
            br
            | Photos non contractuelles.
            / modalite nolink
            - if $objso["mention_plus"]["bf"]["nolnk"]["1"] != ""
              br
              == $objso["mention_plus"]["bf"]["nolnk"]["1"]

            / modalites attribution
            br
            - if $objso["mention_plus"]["bf"]["link"]["1"][1] != ""
              == $objso["mention_plus"]["bf"]["link"]["1"][0] + "&nbsp;"
              a href==($url+$legal[3]+$mediumSrc+$utmContent+"reglement"+$campaign+$objso["gift"]["modalite"]) target="_blank"
                strong ==($objso["mention_plus"]["bf"]["link"]["1"][1])
              == $objso["mention_plus"]["bf"]["link"]["1"][2]
              br

            / reglement jeu
            - if $mod_reg_bf[:r1] != ""
              == $mod_reg_bf[:r0] + "&nbsp;"
              a href==($url+$legal[3]+$mediumSrc+$utmContent+"reglement"+$campaign+$objso["gift"]["modalite"]) target="_blank"
                strong ==($mod_reg_bf[:r1])
              == $mod_reg_bf[:r2]
              br
            br

          div style="text-align: center; "
            font style="font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#555555"
              / CGV
              a href==($url+$legal[0]+"?utm_source=NL&utm_medium=email&utm_content=cgv"+$campaign) style="color:#333333;" target="_blank"
                strong
                  u
                    | Conditions Générales de vente
              |  | 
              / contact
              a href==($url+$legal[1]+"?val=A&utm_source=NL&utm_medium=email"+$utmContent+"contact"+$campaign) style="color:#333333;" target="_blank"
                strong
                  u
                    | Contact
              |  | 
              / desabo
              a href==($url+$legal[2]+$mediumSrc+$utmContent+"desabo"+$campaign) style="color:#333333;" target="_blank"
                | Se désabonner
