a href==($objso["banner"]["de"]["lnk"]+$objso["banner"]["to"]+$objso["banner"]["trk"]+$date+"_relance"+$objso["banner"]["id"]) target="_blank"
  img src==(($abspath == true ? $srcAbs : $srcRel)+"insertBanner.png") width="680" border="0" alt==($objso["banner"]["de"]["alt"])