== Slim::Template.new('./src/varglobal.slim').render

-$srcAbs = "https://tempsl.com/Newsletters/miroir/Relance_#{$date}/BEFR/images/"

-$month   = [0," de janvier"," de février"," de mars"," d'avril"," de mai"," de juin"," de juillet"," d'août"," de septembre"," d'octobre"," de novembre"," de décembre"]
/ link > do not change
-$url = $objso["url"]["bf"]
-$idx = "index.aspx"

-$urlKdo  ="animation/presentation-cadeaux.aspx"
-$ha_conf =["achat_confiance/garanties.aspx","achat_confiance/informations-livraison.aspx","achat_confiance/paiement-securise.aspx"]
-$legal   =["achat_confiance/conditions-generales-de-vente.aspx","idealpractical_and_you/contact.aspx","animation/DesinscriptionNewsletter.aspx","pages/settlement.aspx"]
/ alt do not change
-$logo_alt = "IDEAL &amp; PRATIQUE : Accessoires de cuisine et astuces pour la maison"
-$cat_alt  = "Voir la nouvelle collection : cliquez ici"
-$foo_alt  =["Comment profiter de mes avantages ?","J'indique mon code cadeau lors de ma commande :","SUR INTERNET Rendez-vous sur www.ideal-pratique.be","Par Téléphone au 0900 500 00 - (0.50€/min), du lundi au vendredi de 8h à 20h samedi de 9h à 17h.","SATISFAIT OU REMBOURSÉ","LIVRAISON À LA CARTE","PAIEMENT SÉCURISÉ","GARANTIE 1 AN"]
/ do not change
- $mediumSrc  = "?utm_source=NL&utm_medium=email"
- $utmContent = "&utm_content="